<div id="container-exp">
    <p align="right">Round <span id="trial-number">0</span> of 40</p>
    <p align="right"><span id="practice-trial">This is a practice trial</span></p>
    <div id="stimulus-stage">
        <p id="instructions">Are there more blue or yellow dots?</p>
        <button id="more-blue" type="button" class="btn btn-primary">Blue</button>
        <button id="more-yellow" type="button" class="btn btn-warning">Yellow</button>
        <div><img id="stimulus" src="" width="500px" /></div>
	</div>

    <div id="response-form">
        <h1>Now reproduce the passage, verbatim:</h1>
        <p><b>Note:</b> Your task is to recreate the text, word for word, to the best of your ability.<p>
        <textarea id="reproduction" class="form-control" rows="10"></textarea>
        <button id="submit-response" type="button" class="btn btn-primary">Submit response.</button>
    </div>
</div>
