<div id="container-exp">
    <p align="right">Round <span id="trial-number">0</span> of 125</p>
    <p align="right"><span id="practice-trial">This is a practice trial</span></p>
    <div id="stimulus-stage">
        <p id="instructions">Are there more blue or yellow dots?</p>
        <button id="more-blue" type="button" class="btn btn-primary">Blue</button>
        <button id="more-yellow" type="button" class="btn btn-warning">Yellow</button>
        <div><img id="stimulus" src="" width="500px" /></div>
	</div>
</div>
