<div id="container-instructions">

    <h1>Instructions</h1>

    <hr>

    <p>On other rounds, you will <b>not</b> get to see the dots yourself; <b>instead</b>, you will be told what other participants decided.</p>

    <p>Participants take part in batches of 40. If you don't get to see the dots for yourself you will either:</p>

    <p><b>1.</b> See what one person in the previous batch thought:<br></p>
    <p align="center">Someone in the previous batch decided:<br><font color='#428bca'><b>BLUE</b></font></p>

    <p><b>2.</b> See what everyone in the previous batch thought:<br></p>
    <p align="center">In the previous batch:<br><b><font color='#428bca'>12 people decided BLUE</font></b> and <b><font color='#FBB829'> 28 people decided YELLOW</font></b></p>

    <p><b>3.</b> See what everyone in the previous three batches thought:<br></p>
    <p align="center">Three batches ago:<br><b><font color='#428bca'>25 people decided BLUE</font></b> and <b><font color='#FBB829'>15 people decided YELLOW</font></b><br><br>Two batches ago:<br><b><font color='#428bca'>0 people decided BLUE</font></b> and <b><font color='#FBB829'>40 people decided YELLOW</font></b><br><br>One batch ago:<br><b><font color='#428bca'>36 people decided BLUE</font></b> and <b><font color='#FBB829'>4 people decided YELLOW</font></b></p>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
