<head>
<link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>

<div id="container-instructions">

    <h1>Instructions - test!</h1>

    <hr>

    <h3 id="test-title" align="center"><b>Please answer the following questions - you must get them all right to proceed</b></h3>

    <p>1. How many sets of dots are there? (type the number, e.g. 45)   <textarea id="q1" class="test-text-box" rows="1" maxlength="5"></textarea></p>
    <p>2. How many participants take part in each batch? (type the number, e.g. 5)   <textarea id="q2" class="test-text-box" rows="1" maxlength="5"></textarea></p>
    <p>3. If a set of dots changed after the 8th batch, after which batch will it next change? (type the number, e.g. 12)   <textarea id="q3"class="test-text-box" rows="1" maxlength="5"></textarea></p>
    
    <p>4. True or false? (tick the true sentences)</p>
    <p><input type="checkbox" id="tf1"></input>  If you see several blue sets in a row, the next set is probably yellow.</p>
    <p><input type="checkbox" id="tf2"></input>  For each set of dots you will either get to see the dots yourself, or you will see what other people decided.</p>
    <p><input type="checkbox" id="tf3"></input>  Sometimes you will see what other people thought, but you will always get to see the dots yourself.</p>
    <p><input type="checkbox" id="tf4"></input>  Even if you saw the dots yourself, they still might change before you make your decision.</p>
    <p><input type="checkbox" id="tf5"></input>  When you are told what other people decided, you can be sure those people always saw the dots themselves.</p>
    <p><input type="checkbox" id="tf6"></input>  The decisions of people from three batches ago are worthless because the dots will have changed since then.</p>
    <p><input type="checkbox" id="tf7"></input>  Dots can’t change two batches in a row.</p>

    <hr>
    <script>
        function checkAnswers() {
            var psiTurk = new PsiTurk(uniqueId, adServerLoc, mode);
            if (document.getElementById("q1").value == 125 & document.getElementById("q2").value == 40 & document.getElementById("q3").value == 18 & document.getElementById("tf1").checked == false & document.getElementById("tf2").checked == true & document.getElementById("tf3").checked == false & document.getElementById("tf4").checked == false & document.getElementById("tf5").checked == false & document.getElementById("tf6").checked == false & document.getElementById("tf7").checked == true) {
                console.log("you got it right!");
                document.getElementById("next").click();
            } else {
                $("#test-title").html("<font color='red'><b>You got something wrong, please go back to re-read the instructions and try again.</b></font>");
            }
        }
    </script>
    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="previous" value="previous" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button id="submit-button" type="button" class="btn btn-primary btn-lg" onClick="checkAnswers();">
                Submit answers
                </button>
                <button style="display: none" type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
