<div id="container-instructions">

    <h1>Instructions</h1>

    <hr>


    <p>There are 40 rounds in total. The first Z are pratice rounds.</p>

    <p>Each round is different from all the others - just because there were more blue dots on one round does not mean there will be more on the next round.</p>

    <p>You are guaranteed at least $X.XX for completing the task. The better you perfom, the more you will get paid. If you get them all right, you'll get $Y.YY extra. The practice rounds will not affect your payment.</p>

    <script type="text/javascript">
    //console.log(psiTurk.getInstructionIndicator())
    </script>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!--  Maybe not previous button on this screen? -->
            	<!--
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            	-->
            </div>
            <div class="col-xs-8">
            	<center>
	                <button type="button" id="next" value="next" class="btn btn-success btn-lg continue">
	                Begin experiment <span class="glyphicon glyphicon-arrow-right"></span>
	                </button>
	            </center>
            </div>
            <div class="col-xs-2">

            </div>
        </div>
    </div>

</div>
