<div id="container-instructions">

    <h1>Instructions</h1>

    <hr>


    <p>There are 125 rounds in total. The first 5 are pratice rounds. Depending on how many rounds you get right, you can earn a bonus of up
        to $1.00. The practice rounds will not affect your bonus.</p>

    <p>Each round is different from the others - just because there were more blue dots on one round does not mean there will be more on the next round.</p>

<!--     <p>You are guaranteed at least $1.00 for completing the task. The better you perfom, the more you will be paid. If you get them all right, you'll get $1.00 extra. The practice rounds will not affect your bonus.</p>
 -->
    <script type="text/javascript">
    //console.log(psiTurk.getInstructionIndicator())
    </script>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!--  Maybe not previous button on this screen? -->
            	<!--
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            	-->
            </div>
            <div class="col-xs-8">
            	<center>
	                <button type="button" id="next" value="next" class="btn btn-success btn-lg continue">
	                Begin experiment <span class="glyphicon glyphicon-arrow-right"></span>
	                </button>
	            </center>
            </div>
            <div class="col-xs-2">

            </div>
        </div>
    </div>

</div>
