<head>
<link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>

<div id="container-instructions">

    <h1>Instructions</h1>

    <hr>

    <div class="alert alert-danger">
        <h3 align="center">Warning!</h3>

        <p>You may have played "Judge the Dots" before, but be warned that the Advanced Edition is different in many respects so please <b>read the instructions carefully</b>. Before you can play there will be a quick test to ensure you have correctly understood the rules and you won't be able to begin until you pass the test!<br></p>
    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
