<div id="container-instructions">

    <h1>Instructions</h1>

    <hr>

    <p>On other rounds, you will <b>not</b> get to see the dots yourself; <b>instead</b>, you will be told what other participants in a previous batch decided when they got to see the dots. The decisions you will see are genuinely those of other workers on MTurk who played before you.</p>

    <p>If you don't get to see the dots for yourself, one of three things will happen:</p>

    <p><b>1.</b> You will see what one person in the previous batch thought:<br></p>
    <p align="center">Someone in the previous batch decided:<br><font color='#428bca'><b>BLUE</b></font></p>

    <p><b>2.</b> You will see what everyone in the previous batch thought:<br></p>
    <p align="center">In the previous batch:<br><b><font color='#428bca'>2 people decided BLUE</font></b> and <b><font color='#FBB829'> 8 people decided YELLOW</font></b></p>

    <p><b>3.</b> You will see what everyone in the previous three batches thought:<br></p>
    <p align="center">Three batches ago:<br><b><font color='#428bca'>5 people decided BLUE</font></b> and <b><font color='#FBB829'>5 people decided YELLOW</font></b><br><br>Two batches ago:<br><b><font color='#428bca'>8 people decided BLUE</font></b> and <b><font color='#FBB829'>2 people decided YELLOW</font></b><br><br>One batch ago:<br><b><font color='#428bca'>6 people decided BLUE</font></b> and <b><font color='#FBB829'>4 people decided YELLOW</font></b></p>

    <p>Note that each batch has 10 participants, so if you are told what a previous batch decided, the total number of people deciding blue and yellow will always sum up to 10.<br></p>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
