<div id="container-instructions">

    <h1>Instructions</h1>

    <hr>

    <p>On other rounds, you will not get to see the dots; instead, you will be told what another participant thought they saw.</p>

    <p>For example, you might be told:</p>

    <p><img src="/static/images/demo_social.jpg" width="400px;" /></p>

    <p>You will then be asked to make a decision.</p>

    <script type="text/javascript">
    //console.log(psiTurk.getInstructionIndicator())
    </script>


    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
