<div id="container-instructions">

    <h1>Instructions</h1>

    <hr>

    <h3 align="center"><b>Be careful!</b></h3>

    <p>Whilst the decisions you will see are genuinely those of other turk workers, there are two further complications:</p>
    <p><b>1.</b> Each set of dots changes every 10 batches - the blue dots turn yellow and the yellow dots turn blue. This means that the decisions from previous batches might not be helpful.</p>
    <p><b>2.</b> Some of the people in previous batches may not have seen the dots themselves either - they could have based their decision on what people in the batches before them decided.</p>
    <p></p>
    <p>It's not all bad though:</p>
    <p><b>1.</b>The dots never change within batches, so if you get to see the dots for yourself you can always trust what you see.</p>
    <p><b>2.</b>The sets of dots change independently of each other, for example one set might change after the 1st, 11th and 21st batches, while another might change after the 6th, 16th and 26th batches. So, if you suspect one set has recently changed, it does not mean all the sets have.</p>


    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="previous" value="previous" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
