<head>
<link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>

<div id="container-instructions">

    <h1>Instructions</h1>

    <hr>

    <p>In the experiment, there are 125 rounds. On each round, you will decide whether a set of dots contains more blue or more yellow dots, either by seeing the set yourself or by hearing what others decided.</p>

    <p>Each set is independent from the others &mdash; just because there were more blue dots on one round does not mean there will be more blue dots on the next round.</p>

    <p>Depending on how many correct answers you give, you can earn a bonus of up to $1.00. The first 5 rounds are practice and will not affect your bonus.</p>

    <script type="text/javascript">
    //console.log(psiTurk.getInstructionIndicator())
    </script>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
