<head>
<link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>

<div id="container-instructions">

    <h1>Instructions</h1>

    <hr>

    <div class="alert alert-danger">
        <h3>Warning!</h3>

        <p>Some of you may have played "Judge the Dots" or "Judge the Dots 2" before (it's okay either way), but be warned that Judge the Dots <b>3</b> is different in many respects. You <b>must read the new instructions carefully</b>. Before you can play, there will be a test to make sure that you understood the new rules. You won't be able to play until you pass the test.<br></p>
    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
