<div id="container-instructions">

    <h1>Instructions</h1>

    <hr>

    <h3 align="center"><b>Be careful!</b></h3>

    <p>There are two further complications:</p>
    <p><b>1.</b> Each set of dots can change color <b>between</b> batches &mdash; its blue dots turn yellow and its yellow dots turn blue. This means that the decisions from previous batches might not be helpful because the dots may have changed between then and now.</p>
    <p><b>2.</b> Some of the people in previous batches may not have gotten to see the dots themselves either &mdash; some may have based their decision on what people in the batches before them decided.</p>
    <p></p>
    <p>It's not all bad though:</p>
    <p><b>1.</b> When you see the decisions of other workers you can choose to see the dots yourself as well. This will briefly show you the dots, however, it comes at a cost and will reduce the size of your bonus from that trial by 50%.</p>
    <p><b>2.</b> The dots never change color <b>within</b> batches, so if you get to see the dots for yourself, you can always trust what you see.</p>
    <p><b>3.</b> Each set of dots changes color every <b>10</b> batches. However, the sets are not in sync, for example, one set might change color after the 1st, 11th and 21st batches, while another might change color after the 6th, 16th and 26th batches. So, if you suspect one set has changed, it does not imply that the other sets have also changed.</p>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="previous" value="previous" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
